{% extends "bases.html.twig" %}

{% block main %}
<table class="table container">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Adresse</th>
            <th scope="col">City</th>
            <th scope="col">ZipCode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">{{ client.id }}</td>
            <td scope="row">{{ client.name }}</td>
            <td scope="row">{{ client.adresse }}</td>
            <td scope="row">{{ client.city }}</td>
            <td scope="row">{{ client.zipcode }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}