{% extends "bases.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="">
{% endblock %}

{% block main %}

	<div class="container">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Adresse</th>
					<th scope="col">City</th>
					<th scope="col">ZipCode</th>
					<th scope="col">Option</th>
				</tr>
			</thead>
			{% for client in clients %}
				<tbody>
					<tr>
						<td scope="row">{{ client.id }}</td>
						<td scope="row">
							<a href="{{ path('client_show', {'id' : client.id}) }}">{{ client.name }}</td>
						</td>
						<td scope="row">{{ client.adresse }}</td>
						<td scope="row">{{ client.city }}</td>
						<td scope="row">{{ client.zipcode }}</td>
						<td>
							<a href="{{ path('client_update', {'id' : client.id}) }}">
								<i class="fa-solid fa-pen"></i>
							</a>
							<a href=" {{ path('delete_client', {'id' : client.id}) }}">
								<i class="fa-solid fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</div>
		<div>
			<a href="{{ path('create_client')}}">Créer un client</a>

		</div>

	{% endblock %}
